
.font-1 {
   font: 1rem  "Playfair Display", serif;
  
}
/* .font-1-p {
    font:1rem 'Halant', cursive;
   
 }
 .font-1-m {
    font:1.2rem 'Halant', cursive;
   
 } */


.font-2 {
    font: 0.9rem "Roboto", sans-serif !important;
    
}

@font-face {
    font-family: HighSpirited;
    src: url("HighSpirited.ttf");
}

/* @media(min-width:355px) {
    .font-2 {
        font: 3.9rem "HighSpirited", sans-serif;
        background-color: red;
    }
} */